"*":
  editor:
    invisibles: {}
    scrollPastEnd: true
    preferredLineLength: 120
    showIndentGuide: true
    fontFamily: "Input Mono Narrow"
    fontSize: 15
  core:
    disabledPackages: [
      "language-mustache"
      "linter-haml"
      "deprecation-cop"
      "overrides"
      "autocomplete-paths"
      "minimap-autohide"
      "linter-foodcritic"
    ]
  "exception-reporting":
    userId: "a98159d9-1fe0-0af8-8f55-d78a80ba6738"
  welcome:
    showOnStartup: false
  autosave:
    enabled: true
  "autocomplete-ruby": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    fileBlacklist: [
      ".log"
    ]
    confirmCompletion: "tab and enter"
  "auto-update-packages": {}
  "filetype-color":
    enabled: "false"
  minimap:
    plugins:
      "git-diff": true
      "minimap-autohide": true
  "merge-conflicts": {}
  "highlight-line": {}
  linter:
    statusBar: "Show error of the selected line"
    clearOnChange: true
    lintOnChange: false
    ignoredLinterErrors: [
      "foodcritic"
    ]
  "jasmine-runner": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "atom-jshint":
    hintOnModify: false
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  jshint:
    validateOnlyOnSave: true
  "isotope-ui":
    backgroundColor: "false"
    customBackgroundColorPicker:
      red: 41
      green: 39
      blue: 52
      alpha: 1
    fontFamily: "Ubuntu"
    fontWeight: "Regular"
    spaciousMode: true
    backgroundImagePath: "/Users/cm022291/PIctures/rainy_night.png"
    lowContrastTooltip: true
    customBackgroundColor: true
  Zen: {}
  "fuzzy-finder": {}
  "linter-foodcritic": {}
  "git-diff": {}
  tabs: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    startInInsertMode: true
  "one-dark-ui": {}
  "omni-ruler":
    columns: [
      "80"
      "120"
    ]
  "open-recent":
    maxRecentFiles: 10
  "easy-motion": {}
  emmet: {}
".chef.ruby.source":
  editor:
    preferredLineLength: 120
