# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
'atom-text-editor':
  'ctrl-l': 'vim-mode-plus:scroll-cursor-to-middle-leave'

'atom-text-editor.vim-mode-plus.insert-mode:not(.mini)':
  'j k': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'space space': 'command-palette:toggle'
  'space c l': 'editor:toggle-line-comments'

'atom-text-editor.vim-mode-plus.normal-mode':
  # leader commands, by starting letter
  'space b b': 'fuzzy-finder:toggle-buffer-finder'
  'space b n': 'pane:show-next-item'
  'space b p': 'pane:show-previous-item'
  'space b d': 'buffer:delete-buffer'
  'space b D': 'tabs:close-all-tabs' # buffer Delete all
  'space f a': 'atom-spec-finder:toggle' # find alternate file (spec or thing it describes)
  'space f e d': 'dotfiles:open-init-script'
  'space f e k': 'dotfiles:open-keymap'
  'space f e s': 'dotfiles:open-stylesheet'
  'space f f': 'editor:toggle-current-row-folding'
  'space f s': 'core:save'
  'space f t': 'atom-spec-finder:toggle' # find test file (or go back from test to code)
  'space g s': 'atomatigit:toggle'
  'space g c j': 'git-plus:add-all-and-commit' # git commit jira on the command line
  'space g p': 'git-plus:push-set-upstream'
  'space g f': 'git-plus:pull'
  'space g t': 'git-time-machine:toggle'
  'space j f': 'symbols-view:toggle-file-symbols' # jump to symbol in file
  'space j j': 'symbols-view:toggle-project_symbols' # jump to any symbol
  'space q a': 'tabs:close-all-tabs'
  'space q q': 'application:quit'
  'space q o': 'pane:close-other-items' # quit other tabs
  'space r r': 'rspec:run-all'
  'space r f': 'rspec:run' # run the current file
  'space r c': 'rspec:run-for-line' # run the current spec
  'space r t': 'rspec:run-for-line'
  'space s l': 'pane:split-right-moving-current-tab'
  'space t i': 'settings:toggle-vcs-ignored'
  'space v': 'expand-region:expand'
  'space w l': 'window:focus-pane-on-right'
  'space w h': 'window:focus-pane-on-left'
  'space w n': 'window:focus-next-pane'
  'space w p': 'window:focus-previous-pane'
  'space w r': 'window:reload'
  'space w w': 'window:focus-next-pane'
  'space w 1': 'window:close-other-windows'

  ';': 'ex-mode:open' # shortcut for : (so you don't have to type shift)
  'K': 'editor:newline' # mirrors J in vim mode, since there's no help yet
  'F': 'editor:toggle-current-row-folding'
  'Y': 'vim-mode-plus:yank-to-last-character-of-line'

'atom-text-editor.vim-mode-plus.normal-mode, .preview-pane, .item-views':
  'tab': 'pane:show-next-item'
  'shift-tab': 'pane:show-previous-item'

'atom-text-editor.vim-mode-plus.visual-mode':
  'v': 'expand-region:expand'
  'V': 'expand-region:shrink'
  '/': 'project-find:show'
  'ctrl-shift-l': 'editor:split-selections-into-lines'

'atom-workspace':
  'ctrl-alt-cmd-i': 'settings:toggle-vcs-ignored'
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-b': 'symbols-view:go-to-declaration'

'.platform-darwin':
  'cmd-b': 'symbols-view:go-to-declaration'
  'cmd-k right': 'pane:split-right-moving-current-tab'
  'ctrl-n': 'tree-view:toggle-focus'

'.tree-view':
  'n': 'tree-view:add-file'
