packages: [
  "ariake-dark-syntax"
  "atom-beautify"
  "atom-runner"
  "auto-detect-indentation"
  "busy-signal"
  "color-picker"
  "duotone-dark-amethyst-syntax"
  "duotone-dark-earth-syntax"
  "duotone-dark-forest-syntax"
  "duotone-dark-red-syntax"
  "duotone-dark-sea-syntax"
  "expand-region"
  "git-links"
  "git-plus"
  "git-time-machine"
  "intentions"
  "language-aspx"
  "language-diff"
  "language-haml"
  "language-rust"
  "linter"
  "linter-rust"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "monokai"
  "multi-wrap-guide"
  "nebula-syntax"
  "nebula-ui"
  "nord-atom-syntax"
  "nord-atom-ui"
  "northem-dark-atom-syntax"
  "open-recent"
  "package-sync"
  "react"
  "rspec"
  "set-syntax"
  "swackets"
  "symbol-gen"
  "tabularize"
  "vim-mode-plus"
]
