# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
'.source.js':
  'Console log':
    'prefix': 'con'
    'body': "console.log(${1:''});$2"
  'beforeEach':
    'prefix': 'bef'
    'body':'''
      beforeEach(function() {
        $1
      });$2
    '''
  'describe':
    'prefix': 'desc'
    'body':'''
      describe('${1:The thing described}', function() {
        ${2://body of the suite/context}
      });$3
    '''
  'it':
    'prefix': 'it'
    'body':'''
      it('${1:The test description}', function() {
        ${2://body of the test}
      });$3
    '''
  'spyOn':
    'prefix': 'spyOn'
    'body': "spyOn(${1:window}, '${2:functionName}');"
'.source.ruby':
  'Pry':
    'prefix': 'pry'
    'body': 'require "pry"; binding.pry'
  'do..end':
    'prefix': 'do'
    'body': '''
      do${1: |${2:param}|}
        $3
      end$4
    '''
  'context':
    'prefix': 'con'
    'body': '''
      context '$1' do
        $2
      end$3
    '''
  'before':
    'prefix': 'bef'
    'body': '''
      before do
        $1
      end
    '''
'.source.python':
  'Interact':
    'prefix': 'interact'
    'body': 'import code; code.interact(local=locals())'
  'Pry':
    'prefix': 'pry'
    'body': 'from IPython import embed; embed()'
